<div class="reviewContainer">
  <h1 class="reviewTitle" *ngIf="numOfReviews != 0">Reviews <span id="numOfReview">&nbsp;{{numOfReviews}}</span></h1>

  <div class="cardLike mb-4 mt-4 row" *ngFor="let review of reviews">

    <div class=" col-md-3 col-sm-12 imgContainer">
      <div class="img" [style.background-image]="'url(' + review.profile + ')'"></div>
    </div>

    <div class="col-md-9 col-sm-12 card-body ">
      <h5 class="card-title">A review created by {{review.author}} &nbsp;&nbsp;</h5>
      <div class="rating">&#9733;&nbsp;{{review.rate}}</div>
      <p class="date"><small class="text-muted">{{review.date}}</small></p>
      <p class="content">{{review.content}}</p>
      <a class="more" href="{{review.full}}" target="_tab">Read the rest</a>
    </div>

  </div>

</div>