<ng-container>
    <h2 class="castTitle" *ngIf = "casts.length != 0">Full Cast and Crew</h2>

    <div class="castContainer row" *ngIf = "isScreenWide | async">
        <div class="col-2 cardContainer" *ngFor="let cast of casts">
    
            <div class="card oneCast d-flex flex-column" data-toggle="modal" data-target="#popup" (click)="popUp(cast.id)">
                <div class="card-img-top flex-fill" [style.background-image]="'url(' +cast.profile + ')'"></div>
                <div class="card-title flex-grow">
                    {{cast.name}}<br><b>AS</b><br>
                    <p class="char">
                        {{cast.character}}</p>
                </div>
            </div>
    
        </div>
    </div>

    <div class="castContainer row" *ngIf = "!(isScreenWide | async)">
        <div class="col-6 cardContainer" *ngFor="let cast of casts">
    
            <div class="card oneCast d-flex flex-column" data-toggle="modal" data-target="#popup" (click)="popUp(cast.id)">
                <div class="card-img-top flex-fill" [style.background-image]="'url(' +cast.profile + ')'"></div>
                <div class="card-title flex-grow">
                    {{cast.name}}<br><b>AS</b><br>
                    <p class="char">
                        {{cast.character}}</p>
                </div>
            </div>
    
        </div>
    </div>
    
<!-- Modal -->
<div class="modal fade" id="popup" tabindex="-1"  style = "padding-right: 0;" role="dialog">
    <div class="modal-dialog modal-dialog-centered  modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="actorName"></h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="profile">
                    <div id="pic"></div>
                    <div class="info">
                        <p class = "information" id="birth"></p>
                        <p class = "information" id="hometown"></p>
                        <p class = "information" id="gender"></p>
                        <p class = "information" id="homepage"></p>
                        <p class = "information" id="talent"></p>
                        <p class = "information" id="nickName"></p>
                        <div class="externalContainer">
                            <a id="imdb" href="" target="_blank" ngbPopover="Visit IMDB" triggers="mouseenter:mouseleave"
                                placement="top" popoverClass="my-custom-class"></a>
                            <a id="ins" href="" target="_blank" ngbPopover="Visit Instagram"
                                triggers="mouseenter:mouseleave" placement="top" popoverClass="my-custom-class">  </a>
                            <a id="fb" href="" target="_blank" ngbPopover="Visit Facebook"
                                triggers="mouseenter:mouseleave" placement="top" popoverClass="my-custom-class">  </a>
                            <a id="tw" href="" target="_blank" ngbPopover="Visit Twitter" triggers="mouseenter:mouseleave"
                                placement="top" popoverClass="my-custom-class">  </a>
                        </div>
                    </div>
                </div>
                <h1 id="bioTitle"></h1>
                <p id="biography"></p>
                <br><br>
            </div>
        </div>

    </div>
</div>
</ng-container>