<div id="home-page-container">
  <app-slides></app-slides>

  <div class="tiles-container">
    <h1 class="titles">Continue Watching</h1>
    <app-tiles [data]="continueWatching"></app-tiles>
  </div>

  <div class="tiles-container">
    <h1 class="titles">Popular Movies</h1>
    <app-tiles [data]="popularMovies"></app-tiles>
  </div>

  <div class="tiles-container">
    <h1 class="titles">Top Rated Movies</h1>
    <app-tiles [data]="topRatedMovies"></app-tiles>
  </div>

  <div class="tiles-container">
    <h1 class="titles">Trending Movies</h1>
    <app-tiles [data]="trendingMovies"></app-tiles>
  </div>

  <div class="tiles-container">
    <h1 class="titles">Popular TV shows</h1>
    <app-tiles [data]="popularTvs"></app-tiles>
  </div>

  <div class="tiles-container">
    <h1 class="titles">Top Rated TV shows</h1>
    <app-tiles [data]="topRatedTvs"></app-tiles>
  </div>

  <div class="tiles-container">
    <h1 class="titles">Trending TV shows</h1>
    <app-tiles [data]="trendingTvs"></app-tiles>
  </div>
</div>