<div class="SCContainer" *ngIf = "isScreenWide | async">
    <h1 id="recTitle"></h1>
    <ngb-carousel *ngIf = "numOfRec != 0">
        <ng-template ngbSlide *ngFor="let recommend of recommendations">
            <div class="rowContainer row">
                <div class="one-card-container col-2" *ngFor="let rec of recommend"
                    [routerLink]="['/watch', rec.type, rec.id]">
                    <div class="one-card">
                        <div class="img" [style.background-image]="'url(' + rec.poster+ ')'"></div>
                        <div class="card-img-overlay">
                            <p class="card-title">{{rec.title}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </ng-template>
    </ngb-carousel>


    <h1 id="simTitle"></h1>
    <ngb-carousel *ngIf = "numOfSim != 0">
        <ng-template ngbSlide *ngFor="let similar of similars">
            <div class="rowContainer row">
                <div class="one-card-container col-2" *ngFor="let sim of similar"
                    [routerLink]="['/watch', sim.type, sim.id]">
                    <div class="one-card">
                        <div class="img" [style.background-image]="'url(' + sim.poster+ ')'"></div>
                        <div class="card-img-overlay">
                            <p class="card-title">{{sim.title}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </ng-template>
    </ngb-carousel>
</div>

<div class="SCContainer" *ngIf = "!(isScreenWide | async)">
    <h1 id="recTitle"></h1>
    <ngb-carousel [showNavigationIndicators] = "false" *ngIf = "numOfRec != 0">

        <ng-template ngbSlide *ngFor="let con of recs">

            <div class="one-card-container-small" [routerLink]="['/watch', con.type, con.id]">
                <div class="one-card-small">
                    <div class="img" [style.background-image]="'url(' + con.poster+ ')'"></div>
                    <div class="smalloverlay card-img-overlay ">
                        <p class="card-title">{{con.title}}</p>
                    </div>
                </div>
            </div>

        </ng-template>

    </ngb-carousel>


    <h1 id="simTitle"></h1>
    <ngb-carousel [showNavigationIndicators] = "false" *ngIf = "numOfSim != 0">

        <ng-template ngbSlide *ngFor="let con of sims">

            <div class="one-card-container-small" [routerLink]="['/watch', con.type, con.id]">
                <div class="one-card-small">
                    <div class="img" [style.background-image]="'url(' + con.poster+ ')'"></div>
                    <div class="smalloverlay card-img-overlay ">
                        <p class="card-title">{{con.title}}</p>
                    </div>
                </div>
            </div>

        </ng-template>

    </ngb-carousel>
</div>

